# fly.toml app configuration file generated for ai-profiles on 2025-12-21T11:26:52-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "guide-my-ai"
primary_region = "iad"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
